streamlit
pandas
numpy
plotly
matplotlib
seaborn
scikit-learn
tensorflow
nltk
vaderSentiment
xgboost
yfinance
requests
feedparser
newsapi-python
python-dotenv
streamlit-autorefresh
pandas-ta
rapidfuzz
pandas-ta
